.styled-checkbox {
    position: absolute; // remove from document flow
    opacity: 0; // hide element

    &+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    // Visible checkbox
    &+label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: .2rem;
        background: $color-primary-light;
        @include transition;
    }

    &:hover+label:before {
        background: ($color-primary-light);
    }

    &:focus+label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    &:checked+label:before {
        background: $color-green;
    }

    // Checkmark. Could be replaced with an image
    &:checked+label:after {
        content: '';
        position: absolute;
        left: 7px;
        top: 12px;
        background: white;
        width: 3px;
        height: 3px;
        box-shadow:
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
        transform: rotate(45deg);
    }
}