.color-card {
    min-height: 27rem;
    width: 100%;
    max-width: 35rem;
    position: relative;
    border-radius: .5rem;
    margin: 1.5rem;
    z-index: 0;


    box-shadow: $box-shadow-dark;
    background: $color-primary-dark;
    transition: all .2s ease-in-out;

    @include flex-column-center;


    @include respond(small) {
        margin-left: 2rem;
        flex-basis: calc(50% - 2em - 4px);
    }

    &:hover {
        transform: translateY(-.5rem);
        background: $color-secondary;
    }

    &__buttons-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    &__color {
        margin: 1.5rem 0;
        height: 11rem;
        width: 80%;
        border-radius: .2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover span {
            opacity: 1
        }

        @include respond(small) {
            height: 15rem;
        }
    }

    &__color span {
        font-weight: $font-light;
        opacity: 0;
        font-size: 2rem;

        transition: all .2s ease-out;
    }

    // Remove button styles

    &__btn-remove,
    &__btn-remove:visited,
    &__btn-remove:active {
        border: none;
        background: transparent;
        cursor: pointer;
        text-decoration: none;

        &:hover .cross {
            fill: $color-red;
            stroke: $color-red;
            stroke-width: .5;
        }
    }

    .cross {
        fill: $color-secondary;
        transition: all .2s ease;
        stroke-opacity: 1;
    }


}

// @media screen and (min-width: $break-sm) {
//     flex-basis: calc(50% - 2em - 4px);
// }

// @media screen and (min-width: $break-md) {
//     flex-basis: calc(33.33333% - 2em - 4px);
// }

// @media screen and (min-width: $break-lg) {
//     flex-basis: calc(25% - 2em - 4px);
// }

// @media screen and (min-width: $break-xl) {
//     flex-basis: calc(16.66666% - 2em - 4px);
// }