.color-card {
    min-height: 27rem;
    width: 100%;
    max-width: 35rem;
    position: relative;
    border-radius: .5rem;


    box-shadow: $box-shadow-light;
    background: $color-primary-light;
    transition: all .2s ease-in-out;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include respond(phone) {
        margin-left: 2rem;
    }

    &:hover {
        box-shadow: $box-shadow-dark;
        background: darken($color-primary-light, 4%);
    }

    &__color {
        height: 12rem;
        width: 80%;
    }

    &__btn-container {
        position: absolute;
        top: .5em;
        right: .5em;

        text-align: right;
    }

    &__btn-remove,
    &__btn-remove:visited,
    &__btn-remove:active {
        background: transparent;
        color: $color-secondary-light;
        border: none;
        border-radius: .5px;
        cursor: pointer;
        font-size: 4rem;
        text-decoration: none;
        line-height: 1rem;
    }

    @media screen and (min-width: $break-sm) {
        flex-basis: calc(50% - 2em - 4px);
    }

    @media screen and (min-width: $break-md) {
        flex-basis: calc(33.33333% - 2em - 4px);
    }

    @media screen and (min-width: $break-lg) {
        flex-basis: calc(25% - 2em - 4px);
    }

    @media screen and (min-width: $break-xl) {
        flex-basis: calc(16.66666% - 2em - 4px);
    }
}