.dd {
    background: white;
    display: flex;
    flex-direction: column;
    width: 23rem;
    height: 7rem;
    // border: 1px solid $color-grey-lightest;

    border-radius: $border-radius;

    &__header {
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 1rem 1rem 0 1rem;


    }

    &__header-title {
        margin-bottom: 1rem;
    }

    &__list-heart {
        height: 1rem;
        width: 100%;
        position: absolute;
        left: 40%;
        top: 25%;
    }

    &__list {
        background: white;
        z-index: 1;
    }

    &__list-item {
        position: relative;
        list-style: none;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        z-index: 1;
        transition: all .3s ease-out;

        &:hover {
            background: $color-grey-lightest;
        }

        &-name {
            width: 100%;
            font-size: 1.5rem;
        }

    }
}

.arrow {
    transition: transform .3s;
}

.up {
    transform: rotate(-180deg);
}