.palette-controls {
    @include flex-column-center;
    @include section-styles;
    padding: 5rem 0 3rem 0;
    background: $color-primary-light;
    width: 100%;
    animation: fade-in-down 1s forwards;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 9.3rem;

        width: 80%;
        height: 4rem;
        background: linear-gradient(rgba(255, 255, 255, 0.001),
            white);
        /* transparent keyword is broken in Safari */
        pointer-events: none;
    }

    @include respond(smallest) {
        width: 80%;
    }

    &__new-palette {
        @include flex-column-center;
        width: 100%;
    }

    &__update-palette {
        @include flex-column-center;
        text-align: center;
        width: 100%;
    }

    &__button {
        @include button;
    }

    &__palette-gallery {
        width: 100%;
        overflow-y: scroll;
        max-height: 50rem;

        animation: fade-in-down 1s forwards;



    }
}

.new-palette-form {
    @include flex-column-center;
    width: 100%;
}