div.star {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    margin: .2rem;
    float: left;

    background-color: $color-grey-light;
    clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);

    &.selected {
        background-color: $color-red;
    }

}