.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Color container
.color-list {
    display: flex;
    // boxes automatically wrap on window resize
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 95%;

    &>:nth-child(odd) {
        background: darken($color-primary-dark, 2%);

        &:hover {
            background-color: $color-green;
        }
    }

}