/// --- Variables --->

///-- Fonts -->

// Weights
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

// Sizes
$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 2rem;

// Base Font
$base-font: 'Quicksand',
sans-serif;
$base-font-color: $color-grey-dark;
$base-font-weight: $font-regular;
$base-font-size: $font-md;
$base-line-height: 1.4;

/// --- Utilities ---> 

//-- Headings -->
.heading {
    color: $color-grey-dark;
    font-family: 'Quicksand',
        sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5rem;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    width: 80%;
    font-weight: $font-light;

    &-xsm {
        font-size: 1.5rem;
    }

    &-sm {
        font-size: 2rem;
    }

    &-md {
        font-size: 3.5rem;
    }

    &-lg {
        font-size: 6rem;

    }
}

// -- Fonts -->

// Weights
.fw-light {
    font-weight: $font-light
}

.fw-med {
    font-weight: $font-regular
}

.fw-bold {
    font-weight: $font-bold
}

// Text Button

.text-button {
    border: none;
    background: transparent;
    outline: none;
    text-decoration: none;
    color: $base-font-color;
    cursor: pointer;
}