// Color container
.color-list {
    display: flex;
    // boxes automatically wrap on window resize
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 95%;
    position: relative;
    margin-bottom: 7rem;

    // &>:nth-child(odd) {
    //     background: darken($color-primary-dark, 2%);

    //     & .styled-checkbox:hover+label:before {
    //         background: ($color-secondary);
    //     }
    // }

    &__scroll-button-container--top {
        position: absolute;
        display: flex;
        top: -3rem;

        right: calc(50% - 4rem);
        background: transparent !important;

        @include respond(smallest) {
            display: block;
            position: absolute;
            top: 1rem;
            right: 0rem;
        }

        @include respond(medium) {
            right: -2rem;
        }
    }

    &__scroll-button-container--bottom {
        position: absolute;
        bottom: 3rem;
        right: 2rem;

        @include respond(smallest) {
            bottom: 3rem;
            right: 2rem;
        }

    }
}