@mixin transition() {
    transition: all .2s ease-in-out;
}

@mixin flex-column-center() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin section-styles() {
    background: $color-primary-light;
    border-radius: $border-radius;
    padding: 3rem 2rem;
}

@mixin button() {
    text-transform: uppercase;
    font-family: $base-font;
    font-weight: $font-regular;
    color: $button-color-light;
    font-size: 2rem;
    padding: 1.5rem;
    width: 23rem;
    border-radius: 3rem;
    border: none;
    background-color: $color-secondary;
    transition: all .1s ease-in-out;
    box-shadow: $box-shadow-dark;

    &:hover {
        background: $color-green;
        transform: translateY(-.3rem);
        box-shadow: $box-shadow-dark;
    }

    &:active {
        transform: translateY(.2rem);
    }
}


// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/

// From 500px - 780px
@mixin respond($breakpoint) {
    @if $breakpoint==smallest {
        @media only screen and (min-width: 31.25em) {
            @content
        }
    }

    @if $breakpoint==small {
        @media only screen and (min-width: 48.75em) {
            @content
        }
    }

    @if $breakpoint==med {
        @media only screen and (min-width: 48.75em) {
            @content
        }
    }
}