@import 'variables';

///-- Margin Utilities -->

// Margin bottom
.u-mb-xsm {
    margin-bottom: 1.5rem;
}

.u-mb-sm {
    margin-bottom: 2rem;
}

.u-mb-md {
    margin-bottom: 3rem;
}

.u-mb-lg {
    margin-bottom: 4rem;
}

.u-mb-hg {
    margin-bottom: 6rem;
}

// Margin top
.u-mt-xsm {
    margin-top: 1.5rem;
}

.u-mt-sm {
    margin-top: 2rem;
}

.u-mt-md {
    margin-top: 3rem;
}

.u-mt-lg {
    margin-top: 4rem;
}

.u-mt-hg {
    margin-top: 8rem;
}

/// Conditional Styles -->

.color-selected {
    border: $outline;
    padding: .5rem;
    border-radius: .7rem;
}

.hidden {
    display: none;
}