///-- Margin Utilities -->

// Margin bottom
.u-mb-sm {
    margin-bottom: 2rem;
}

.u-mb-md {
    margin-bottom: 3rem;
}

.u-mb-lg {
    margin-bottom: 4rem;
}

.u-mb-hg {
    margin-bottom: 8rem;
}

// Margin top
.u-mt-sm {
    margin-top: 2rem;
}

.u-mt-md {
    margin-top: 3rem;
}

.u-mt-lg {
    margin-top: 4rem;
}

.u-mt-hg {
    margin-top: 8rem;
}

/// Conditional Styles -->

.selected {
    border: 3px solid lighten($color-secondary-light, 25%);
}