//Sass environment
@import '../modules/_all.scss';
@import 'typography';

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {

    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    font-family: $base-font;
    letter-spacing: $base-font-letter-spacing;
    font-weight: $base-font-weight;
    box-sizing: border-box;
    background-color: $color-primary-light;
    color: $base-font-color;

}

input {
    outline: none;
    color: $color-green;
}