/// --- Text Variables --->

///-- Fonts -->

// Weights
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

// Sizes
$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 2rem;

// Base Font
$base-font: 'Roboto',
sans-serif;
$base-font-weight: $font-regular;
$base-line-height: 1.4;
$base-font-letter-spacing: .1rem;

/// --- Text Utilities ---> 

//-- Headings -->
%heading {
    font-family: 'Roboto',
        sans-serif;
    font-weight: $font-light;
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: .5rem;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    font-weight: $font-light;
    margin-left: 0;
    margin-right: 0;
}

.heading {

    &--xsm {
        @extend %heading;
        font-size: 1.5rem;
    }

    &--sm {
        @extend %heading;
        font-size: 2rem;
    }

    &--md {
        @extend %heading;
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    &--lg {
        @extend %heading;
        font-size: 6rem;

    }
}

// -- Font Utilities -->

// Weights
.fw-light {
    font-weight: $font-light
}

.fw-med {
    font-weight: $font-regular
}

.fw-bold {
    font-weight: $font-bold
}

// --> Selection

*::selection {
    background: $color-secondary;
}