@mixin transition() {
    transition: all .2s ease-in-out;
}

@mixin flex-column-center() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin section-styles() {
    background: $color-primary-light;
    border-radius: $border-radius;
    padding: 3rem 2rem;
}

@mixin button() {
    text-transform: uppercase;
    font-family: $base-font;
    font-weight: $font-regular;
    color: $button-color-light;
    font-size: 2rem;
    padding: 1.5rem;
    width: 23rem;
    border-radius: 3rem;
    border: none;
    background-color: $color-secondary;
    border: 2px solid lighten($color-secondary, 3%);
    transition: all .1s ease-in-out;
    box-shadow: $box-shadow-dark;

    &:hover {
        background: $color-green;
        border-color: lighten($color-green, 3%);
        transform: translateY(-.3rem);
        box-shadow: $box-shadow-dark;
    }

    &:active {
        transform: translateY(.2rem);
    }
}


// MEDIA QUERY MANAGER
/*
0 - 500px:      Normal Styles
500 - 780px:    Smallest
580px+:         Small

$breakpoint arguement choices:
- smallest
- small


1em = 16px
*/

// From 500px - 780px
@mixin respond($breakpoint) {
    @if $breakpoint==smallest {
        @media only screen and (min-width: 31.25em) {
            @content
        }
    }

    @if $breakpoint==small {
        @media only screen and (min-width: 48.75em) {
            @content
        }
    }
}